@charset 'UTF-8';

@font-face {
    font-family: 'outfit';
    src: url('fontes/static/Outfit-Medium.ttf')
    format('truetype');
}

@font-face {
    font-family: 'outfittitle';
    src: url('fontes/static/Outfit-Light.ttf') format('truetype');
}


body{
    background-color:  hsl(217, 54%, 11%);
    font-family: 'outfit';
    font-size: 16px;
    width: 500px;
    margin: auto;
    padding-top: 65px;

}

main img{
    
    max-width: 282px;
    max-height: 280px;
    border-radius: 10px;
    margin-top: 7px;

}

main{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    margin: 10px 90px 0px 90px;
    box-shadow: 2px 2px 70px rgba(0, 0, 0, 0.261);
    padding-bottom: 10px;
    padding: 5px 20px 2px 20px;
}



h1{
    color: white;
    font-size: 18px;
    font-family: 'outfittitle';
 
}

p{
    color: rgba(255, 255, 255, 0.522);
    font-size: 14px;
}



#icon{
    color: hsl(178, 100%, 50%);
    display: inline-block;
    margin-bottom: 0px;
}

div{
    display: inline-block;
   
}

div > #clock{
    color: rgba(255, 255, 255, 0.522);
    margin-left: 90px;
    margin-bottom: 0px;
   
    
}


#clock{
    color: rgba(255, 255, 255, 0.522);
    text-align: right;
    margin-bottom: 0px;

}

main #linha1{
    align-items: center;
    border-bottom: 0.8px solid #ccd0d531;
    margin: 2px 14px 2px 0px;
    width: 271px;
    
}

main #username{
    margin-top: 5px;
}
 #username img{
    width: 34px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}

 #username #span1 p{
    color: #8F9088;
    display: inline-block;


}

  p #span2{
    color: white;
}




.attribution{
    padding-top: 10px;
    font-size: 12px;
    margin-left: 50px;
   
   
    
}

.attribution > a{
    color: hsl(178, 100%, 50%);
    text-decoration: none;
    border-radius: 15px;
}

.attribution > a:hover{
    background-color: hsl(216, 50%, 16%);
}