@charset 'UTF-8';

@font-face {
    font-family: 'outfit';
    src: url('fontes/static/Outfit-Medium.ttf')
    format('truetype');
}

@font-face {
    font-family: 'outfittitle';
    src: url('fontes/static/Outfit-Light.ttf') format('truetype');
}


body{
    background-color:  hsl(217, 54%, 11%);
    font-family: 'outfit';
    font-size: 16px;
    width: 500px;
    margin: auto;
    padding: 15px;

}

#imagem-principal{
    margin: none;
    display: block;
    margin: auto;
    padding-top: 20px;
    border-radius: 10px 10px 10px 10px ;

}

main{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    margin: 10px 90px 0px 90px;
    box-shadow: 2px 2px 70px rgba(0, 0, 0, 0.261);
    padding-bottom: 10px;
}

section{
    padding: 5px 20px 2px 20px;
}

h1{
    color: white;
    font-size: 18px;
    font-family: 'outfittitle';
 
}

p{
    color: rgba(255, 255, 255, 0.522);
    font-size: 14px;
}



#icon{
    color: hsl(178, 100%, 50%);
    display: inline-block;
}

div{
    display: inline-block;
   
}

div > #clock{
    color: rgba(255, 255, 255, 0.522);
    margin-left: 90px;
   
    
}
#clock{
    color: rgba(255, 255, 255, 0.522);
    text-align: right;

}


#user{
    color: rgba(255, 255, 255, 0.818);
    
   
}

#user img{
    width: 30px;
    border-color: white;
    border-style: solid;
    border-radius: 100%;
    border-width: 1px;
    
}


#user span{
   padding-left: 10px;
   color:hsl(216, 15%, 52%);
}

.attribution{
    padding-top: 10px;
    font-size: 13px;
    margin: auto;
}

.attribution > a{
    color: hsl(178, 100%, 50%);
    text-decoration: none;
    border-radius: 15px;
}

.attribution > a:hover{
    background-color: hsl(216, 50%, 16%);
}